<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/testimonials.css">

</head>
<body>
<!-- Testimonials Slider -->
<div class="testimonials-slider">
    
    <div class="testimonial">
        <p class="testimonial-text">
            "The experiences here are amazing! I've traveled the world using this platform and it never disappoints."
        </p>
        <div class="testimonial-author">
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <div class="author-info">
                <h5>Richard Adler</h5>
                <p>Travel Enthusiast</p>
            </div>
        </div>
    </div>

    
    <div class="testimonial">
        <p class="testimonial-text">
            "Booking experiences has never been easier. Love it!"
        </p>
        <div class="testimonial-author">
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <div class="author-info">
                <h5>Nora Bordacs</h5>
                <p>Adventure Seeker</p>
            </div>
        </div>
    </div>

    <div class="testimonial">
        <p class="testimonial-text">
            "Every experience I've booked here has been top-notch. Truly a game changer for travelers!"
        </p>
        <div class="testimonial-author">
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="author-info">
                <h5>Samuel Thompson</h5>
                <p>World Traveler</p>
            </div>
        </div>
    </div>
    
    <div class="testimonial">
        <p class="testimonial-text">
            "Never thought I'd discover so many hidden gems in my own country. Thanks to this platform!"
        </p>
        <div class="testimonial-author">
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <div class="author-info">
                <h5>Linda Martinez</h5>
                <p>Local Explorer</p>
            </div>
        </div>
    </div>
    
    <div class="testimonial">
        <p class="testimonial-text">
            "From booking to the actual experience, everything is seamless. I highly recommend it!"
        </p>
        <div class="testimonial-author">
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </div>
            <div class="author-info">
                <h5>Michael Chen</h5>
                <p>Vacation Planner</p>
            </div>
        </div>
    </div>
    
    <div class="testimonial">
        <p class="testimonial-text">
            "Finding unique experiences used to be challenging. Not anymore!"
        </p>
        <div class="testimonial-author">
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <div class="author-info">
                <h5>Aisha Patel</h5>
                <p>Adventure Lover</p>
            </div>
        </div>
    </div>
    
   
</div>
</body>
</html>